<%- include('partials/headerlogin.ejs'); -%>
  <div class="wrapper">
    <form action="">
      <h1><%= msg %></h1>
      <img class="icon" src="wrong.png">
    </form>
    <div class="register-link">
      <p><%= para %><br> <a style="margin-top: 5px;" href="<%= to %>"><%= link %></a></p>
    </div>
  </div>
</body>
</html>